{%extends 'base.html.twig' %}

{% block title 'Agence lorem ipsum'%}

{% block body %}

    <div class="jumbotron text-center"">
        <h1> Agence lorem ipsum </h1>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi molestie, ex eu tincidunt pulvinar,
        ipsum ante mollis risus, et dignissim nunc nisi et urna. Donec molestie felis eget magna maximus, ut maximus
            libero hendrerit.</p>
    </div>

{% endblock %}